/* step 1*/
p {
	border-bottom: 1px solid red;
}

.kermit {
	border: 5px solid green;
	border-radius: 25%;
}

#main-div-1 {
	padding: 5%;
}
/* step2 */

#main-div-2 .kermit {
   border: 2px dotted purple;

}

#main-div-2 > p{
	background-color: orange;
}

#li-1 {
	font-size: 50px;
}

#li-2 {
	font-style: italic;
}

#li-3 {
	font-weight: bolder;
}

.sub-div ul li:nth child(2n+1) {
	font-family: 'Mystery Quest', cursive;
}

img {
	width: 200px;
	height: auto;
}

#flex-kermit {
	display: flex;
}

#flex-kermit > img {
	width: 30%;
	float: left;
}

input:valid {
	background-color: green;
}
input:invalid {
	background-color: red;
}
